/* Color scheme */
:root {
    --accent: #2158E4; /* Accent color */
    --black: #161616;  /* Black */
    --dark: #202326;   /* Dark */
    --gray: #8D99AE;   /* Gray */
    --light: #EDF2F4;  /* Light */
    --white: #f5f3f4;  /* White */
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: var(--dark); /* Background set to dark */
    color: var(--light); /* Text color */
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--black); /* Header background */
    color: var(--white);
  }
  
  header div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  header .logo img {
    width: 60px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
  }
  
  .contact-btn {
    background-color: var(--accent); /* Button color set to accent */
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .hero-container {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
  }
  
  .hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero-btn {
    margin-top: 10px;
    background-color: var(--accent); /* Button color set to accent */
    border: none;
    padding: 10px 20px;
    color: var(--white);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cards-container {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
    gap: 20px;
  }
  
  .card {
    background-color: var(--black); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: left;
    padding: 15px;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .card h2 {
    margin: 10px 0;
    color: var(--light); /* Text color */
  }
  
  .card p {
    color: var(--gray); /* Paragraph text color */
  }
  