@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Color scheme */
:root {
    --accent: #2158E4;
    --accent-hover: #225ef5;
    --light: #eff1fe;
    --dark: #0a1a44;
    --black: #0a0a0a;
    --gray: #D0D0D1;
    --white: #FFFFFF;
  
    /* Transparent Variants */
    --black-50: rgba(22, 22, 22, 0.5);
    --black-90: rgba(0, 0, 0, 0.6);
    --transparent: rgba(208, 208, 209, 0);

    /* Gradients */
    --background: linear-gradient(to bottom,#2158e4 0%, #2158e49c 5%, #161616 25%, #161616 100%);
    --gradient-light: linear-gradient(to bottom, var(--white) 0%, var(--gray) 50%);
  }
  
  /* General Reset */
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--black);
    color: var(--gray);
    box-sizing: border-box;
  }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--light);
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-90);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    top: 1vh;
    left: 50%; 
    transform: translateX(-50%); 
    width: 800px; 
    height: 50px;
    border-radius: 50px;
    border-top: #4e4e4e solid 0.1px;
    z-index: 1000;
    overflow: hidden;
  }

  header .container {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  header .logo a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  header .logo a img {
    width: 40px;
  }

  header .nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* Navigation */

  .nav-container nav {
    overflow: hidden;
  }

  .nav-container nav ul {
    height: 45px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-container nav li {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
  }

  .nav-container nav li:hover {
    background-color:#3737375a;
  }
  
  .nav-container nav a {
    color: var(--light);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-container nav a:hover {
    background-color: var(--transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--accent);
    font-weight: 500;
  }
  
  /* Contact Button */
  .prem-btn {
    background-color: var(--accent);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    cursor: pointer;
  }

  .second-btn {
    background-color: var(--light);
    color: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1.5rem;
  }

  /* Mobile menuu */
  header .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
  
  /* Hero Section */
  .hero-container {
    height: 100vh;
    background: var(--background);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
    overflow: hidden;
  }
  
  .hero-content {
    max-width: 1200px;
    flex: 1; 
    padding: 20px;
    z-index: 1;
  }

  .hero-content h1 {
    font-size: 72px; 
    line-height: 1.2; 
    margin-bottom: 30px; 
    max-width: 800px;
    color: var(--gray);
}

  .hero-content p {
    font-size: 18px;
    line-height: 2; 
    margin-top: 0;
    max-width: 600px;
}
  
  /* Cards Section */
  .services {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 30px;
}
  
  .section-intro {
    grid-column: span 3;
    text-align: center;
    margin-bottom: 60px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: left;
  }
  
  .card {
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: #636363 solid 0.1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
  }

    /* Hover Effects */
  .card:hover {
    transform: scale(1.02); 
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    z-index: 1; 
  }

  
  .card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .card h2 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--light);
  }
  
  .card p {
    color: var(--gray);
  }

  .read-btn {
    background-color: var(--transparent);
    color: var(--gray);
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto; 
    display: block;
  }

  /* Content and Image Section */

  .omoss-section {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    color: var(--black);
    padding: 100px 30px;
  }

  .omoss-section p {
    color: var(--dark);
  }

  .om-oss {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
  }

  .om-oss h1 {
    color: var(--black);
  }

  .content-image-section {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
    padding: 100px 30px;
  }

  /* Content Styling */
  .content {
    gap: 25px;
  }

  .features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .features-list li {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
  }

  .features-list img {
    width: 48px;
    height: 48px;
    object-fit: cover; 
    align-self: flex-start;
    margin-top: 15px;
  }

  .features-list div {
    flex: 1; 
  }

  .content button {
    margin-top: 30px;
  }

  .prem-btn:hover {
    background-color: var(--accent-hover);
  }

  /* Image Styling */
  .image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    border-radius: 10px;
  }
/* Responsive Behavior */

/* Tablets: Ensure proper layout */
@media only screen and (max-width: 980px) {
  .cards-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  }
  
  .content-image-section {
    grid-template-columns: 1fr;
  }

  .image-container {
    order: -1; /* Bring image above content */
  }

  .image-container img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 800px) {

  header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .nav-container {
    display: none;
  }

  header .menu-btn {
    display: block;
    margin-left: auto;
    cursor: pointer;
    font-size: 24px;
    color: var(--light);
    background: none;
    border: none;
    outline: none;
    z-index: 1100; 
  }

  .mobile-menu {
    position: fixed;
    padding-top: 6vh;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 2000;
    background-color: var(--black-90);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;
    transition: transform 0.3s ease-in-out; /* Transition for slide effect */
    transform: translateY(-100%); /* Start hidden above */
  }

  .mobile-menu.active {
    display: flex; /* Show as flex when active */
    transform: translateY(0); /* Slide down to normal position */
  }

  .mobile-menu .logo-mobile-menu,
  .mobile-menu nav {
    opacity: 0; /* Hide initially */
    transition: opacity 0.5s ease 0.3s; /* Fade in after .3s */
  }

  .mobile-menu .logo-mobile-menu.show,
  .mobile-menu nav.show {
    opacity: 1; /* Show when class added */
  }

  .mobile-menu .logo-mobile-menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2vh;
    justify-content: center; 
    padding-bottom: 5vh; 
  }

  .mobile-menu .logo-mobile-menu img {
    width: 48px; 
  }
  
  .mobile-menu .logo-mobile-menu .site-name {
    font-size: 24px;
  }

  .mobile-menu nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    gap: 10px; 
  }

  .mobile-menu nav li {
    margin: 10px 0;
  }

  .mobile-menu nav a {
    font-size: 24px;
    color: var(--gray);
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .mobile-menu nav a:hover {
    color: var(--accent); 
  }

  .mobile-menu .close-btn {
    display: block;
    position: absolute;
    right: 20px; 
    top: 2vh;
    border: none;
    cursor: pointer;
    background-color: var(--transparent);
    color: var(--light);
    font-size: xx-large;

  }

}

/* Phones: Single column */
@media only screen and (max-width: 600px) {

  header {
    height: 60px;
  }

  header .logo img {
    width: 35px;
  }
  
  h1 {
    font-size: 28px;
  }

  .hero-content {
    max-width: 90%;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .second-btn {
    margin-left: 0rem;
    margin-top: 1.5rem;
  }

  .content-image-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
  }

  .features-list li {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 0px; 
  }



  .cards-container {
      grid-template-columns: 1fr;
  }

  .section-intro {
      grid-column: span 1;
  }
}